# Node.js
/node_modules
/web/dist
/web/build

# Python
/api/venv
/api/__pycache__

# Environment variables
.env
.env.development
.env.production

# Firebase key file
serviceAccountKey.json

# Logs and other files
*.log
npm-debug.log*
.DS_Store