@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { scroll-behavior: smooth; }
  body {
    background:#FFFDF6;
    color:#36454F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}
